.App {
  justify-content: center;
}

#labels-container {
  display: inline;
  padding: 20px;
  display: flex;
}

#break-label {
  width: 200px;
  margin-left: 0px;
 }

#break-label-elements {
  display: grid;
  grid-template-columns: 15% 15% 15%;
  justify-content: center;
  cursor: pointer;
}

#session-label {
  width: 200px;
 }

#session-label-elements {
  display: grid;
  grid-template-columns: 15% 15% 15%;
  justify-content: center;
  cursor: pointer;
}

#timer-label {
  border: 2px solid;
  border-radius: 25px;
  width: 20vw;
  text-align: center;
  margin: 10px;
}





